@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: linear-gradient(to top left, #16a085, #f4d03f);

    --background: 179 49.4% 2.88%;
    --foreground: 179 7.6% 96.8%;

    --muted: 179 38% 10.8%;
    --muted-foreground: 179 7.6% 53.6%;

    --popover: 179 49.8% 4.68%;
    --popover-foreground: 179 7.6% 96.8%;

    --card: 179 49.8% 4.68%;
    --card-foreground: 179 7.6% 96.8%;

    --border: 179 38% 10.8%;
    --input: 179 38% 10.8%;

    --primary: 179 76% 36%;
    --primary-foreground: 179 7.6% 96.8%;

    --secondary: 179 38% 10.8%;
    --secondary-foreground: 179 7.6% 96.8%;

    --accent: 179 38% 10.8%;
    --accent-foreground: 179 7.6% 96.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 179 7.6% 96.8%;
    --ring: 179 76% 36%;

    --input: 240 5.9% 25%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased font-be;
  }
  .bg-gradient {
    @apply bg-gradient-to-tl from-[#16a085] to-[#f4d03f];
  }
  .text-gradient {
    @apply bg-gradient text-transparent bg-clip-text;
  }
}
